<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Rank Dashboard</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="{{ url_for('user.settings') }}">Account Settings</a>
      <a class="mdl-navigation__link" href="{{ url_for('public.logout') }}">Logout</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <header class="drawer-header">
    <div class="drawer-header-dropdown">
      <div class="mdl-layout-title drawer-title">{{ current_user.username.title() }}</div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item"><a class="mdl-navigation__link" href="{{ url_for('user.settings') }}">Settings</a></li>
        <li class="mdl-menu__item"><a class="mdl-navigation__link" href="{{ url_for('public.logout') }}">Logout</a></li>
      </ul>
    </div>
  </header>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ url_for('user.dashboard') }}">
      <i class="material-icons mdl-text-color--blue-grey">insert_chart</i>
      Overview
    </a>
    <a class="mdl-navigation__link" href="{{ url_for('user.manage_data') }}">
      <i class="material-icons mdl-text-color--blue-grey">mode_edit</i>
      Manage Data
    </a>
    <a class="mdl-navigation__link" href="{{ url_for('user.settings') }}">
      <i class="material-icons mdl-text-color--blue-grey">settings</i>
      Account Settings
    </a>
    <a class="mdl-navigation__link" href="{{ url_for('public.logout') }}">
      <i class="material-icons mdl-text-color--blue-grey">settings_power</i>
      Logout
    </a>
  </nav>
</div>
